/************* GOOGLE FONTS *************/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
:root {
  --hue-color: 240;
  --first-color: hsl(var(--hue-color), 53%, 49%);
  --title-color: hsl(var(--hue-color), 53%, 15%);
  --text-color: hsl(var(--hue-color), 12%, 35%);
  --text-color-light: hsl(var(--hue-color), 12%, 65%);
  --white-color: #fff;
  --body-color: hsl(var(--hue-color), 24%, 94%);
  --body-font: "Poppins", sans-serif;
  --biggest-font-size: 3rem;
  --small-font-size: 0.813.rem;
  --smaller-font-size: 0.75rem;
  --tiny-font-size: 0.625rem;
  --font-medium: 500;
  --mb-0-25: 0.25rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2-5: 2.5rem;
  --z-normal: 1;
  --z-toolip: 10;
}

@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 3.5rem;
    --small-font-size: 0.875.rem;
    --smaller-font-size: 0.813rem;
    --tiny-font-size: 0.75rem;
  }
}

/* DARK THEME VARIBLES */
body.dark-theme {
  --title-color: hsl(var(--hue-color), 12%, 95%);
  --text-color: hsl(var(--hue-color), 12%, 75%);
  --body-color: hsl(var(--hue-color), 10%, 16%);
}

/* Dark/Light Theme Button */
.clock-theme {
  position: absolute;
  top: -1rem;
  right: -1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.25rem;
  border-radius: 50%;
  -webkit-box-shadow: inset -1px -1px 1px hsla(var(--hue-color), 0%, 100%, 1), inset 1px 1px 1px hsla(var(--hue-color), 30%, 86%, 1);
          box-shadow: inset -1px -1px 1px hsla(var(--hue-color), 0%, 100%, 1), inset 1px 1px 1px hsla(var(--hue-color), 30%, 86%, 1);
  color: var(--first-color);
  cursor: pointer;
}

/* DARK THEME BOX SHADOW  */
.dark-theme .clock-circle {
  -webkit-box-shadow: 6px 6px 16px hsla(var(--hue-color), 8%, 12%, 1), -6px -6px 16px hsla(var(--hue-color), 8%, 20%, 1), inset -6px -6px 16px hsla(var(--hue-color), 8%, 20%, 1), inset 6px 6px 12px hsla(var(--hue-color), 8%, 12%, 1);
          box-shadow: 6px 6px 16px hsla(var(--hue-color), 8%, 12%, 1), -6px -6px 16px hsla(var(--hue-color), 8%, 20%, 1), inset -6px -6px 16px hsla(var(--hue-color), 8%, 20%, 1), inset 6px 6px 12px hsla(var(--hue-color), 8%, 12%, 1);
}

.dark-theme .clock-theme {
  -webkit-box-shadow: inset -1px -1px 1px hsla(var(--hue-color), 8%, 20%, 1), inset 1px 1px 1px hsla(var(--hue-color), 8%, 12%, 1);
          box-shadow: inset -1px -1px 1px hsla(var(--hue-color), 8%, 20%, 1), inset 1px 1px 1px hsla(var(--hue-color), 8%, 12%, 1);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  /* disables text select */
}

body {
  margin: 0;
  font-family: var(--body-font);
  background-color: var(--body-color);
  color: var(--text-color);
}

a {
  text-decoration: none;
}

/******* REUSEABLE CSS CLASSES *******/
.container {
  max-width: 968px;
  margin-left: var(--mb-1);
  margin-left: var(--mb-1);
}

.grid {
  display: -ms-grid;
  display: grid;
}

/********* CLOCK *********/
.clock-container {
  height: 100vh;
  -ms-grid-rows: 1fr max-content;
      grid-template-rows: 1fr -webkit-max-content;
      grid-template-rows: 1fr max-content;
}

.clock-circle {
  position: relative;
  width: 200px;
  height: 200px;
  -webkit-box-shadow: -6px -6px 16px var(--white-color), 6px 6px 16px hsla(var(--hue-color), 30%, 86%, 1), inset 6px 6px hsla(var(--hue-color), 30%, 86%, 1), inset -6px -6px 16px var(--white-color);
          box-shadow: -6px -6px 16px var(--white-color), 6px 6px 16px hsla(var(--hue-color), 30%, 86%, 1), inset 6px 6px hsla(var(--hue-color), 30%, 86%, 1), inset -6px -6px 16px var(--white-color);
  border-radius: 50%;
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clock-content {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  row-gap: 3.5rem;
}

.clock-twelve,
.clock-three,
.clock-six,
.clock-nine {
  position: absolute;
  width: 1rem;
  height: 1px;
  background-color: var(--text-color-light);
}

.clock-twelve,
.clock-six {
  -webkit-transform: translateX(-50%) rotate(90deg);
          transform: translateX(-50%) rotate(90deg);
}

.clock-twelve {
  top: 1.25rem;
  left: 50%;
}

.clock-three {
  top: 50%;
  right: 0.75rem;
}

.clock-six {
  bottom: 1.25rem;
  left: 50%;
}

.clock-nine {
  left: 0.75rem;
  top: 50%;
}

.clock-rounder {
  width: 0.75rem;
  height: 0.75rem;
  background-color: var(--first-color);
  border-radius: 50%;
  border: 2px solid var(--body-color);
  z-index: var(--z-toolip);
}

.clock-hour,
.clock-minutes,
.clock-seconds {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clock-hour {
  width: 105px;
  height: 105px;
}

.clock-hour::before {
  content: "";
  position: absolute;
  background-color: var(--text-color);
  width: 0.25rem;
  height: 3rem;
  border-radius: 0.75rem;
  z-index: var(--z-normal);
}

.clock-minutes {
  width: 136px;
  height: 136px;
}

.clock-minutes::before {
  content: "";
  position: absolute;
  background-color: var(--text-color);
  width: 0.25rem;
  height: 4rem;
  border-radius: 0.75rem;
  z-index: var(--z-normal);
}

.clock-seconds {
  width: 130px;
  height: 130px;
}

.clock-seconds::before {
  content: "";
  position: absolute;
  background-color: var(--first-color);
  width: 0.125rem;
  height: 5rem;
  border-radius: 0.75rem;
  z-index: var(--z-normal);
}

.clock-logo {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-bottom: var(--mb-2-5);
  font-size: var(--smaller-font-size);
  font-weight: var(--font-medium);
  color: var(--text-color-light);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.clock-logo:hover {
  color: var(--first-color);
}

.clock-text,
.clock-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clock-text-hour,
.clock-text-minutes {
  font-size: var(--biggest-font-size);
  font-weight: var(--font-medium);
  color: var(--title-color);
}

.clock-text-ampm {
  font-size: var(--tiny-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-left: var(--mb-0-25);
}

.clock-date {
  text-align: center;
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
}

/* MEDIA QUERIES */
@media screen and (min-width: 968px) {
  .container {
    margin-left: auto;
    margin-left: auto;
    margin: 0 auto;
  }
  .clock-circle {
    margin-bottom: 3rem;
  }
}
/*# sourceMappingURL=styles.css.map */